<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>G.E.S. Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <link href="static/ges.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="static/scripts/jquery.js" type="text/javascript"></script>
    <script src="static/scripts/sammy/sammy-0.6.3.min.js" type="text/javascript"></script>
    <script src="static/scripts/jquery.tmpl.js" type="text/javascript"></script>
    <script src="static/scripts/jquery.jsonrpc.js" type="text/javascript"></script>
    <script src="static/scripts/jquery.elastic.min.js" type="text/javascript"></script>
    <script src="static/scripts/ges.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <h1>G.E.S. Example</h1>
        <h3>Showing off Git Enablement Server</h3><br />
    </div>
    <div id="main">
        <div id="dynamic">
            <h2>Welcome to <strong>Git Enablement Server</strong> Example</h2>
            <p>This is a <a href="http://github.com/dvdotsenko/ges">Git Enablement Server</a> example server instance. It is designed to showcase the functionality of the server. In some ways, the server is self-hosting its own code base.</p>
            <p><a href="#browse/" class="links">View available Git repositories</a> </p>
            <p><a href="#about/" class="links">Read more about this server and dev team</a></p>
        </div>
    </div>
    <div id="menu">
        <div class="threecol_left">
            <div class="centered">
            <h2>Menu</h2>
            <ul>
                <li><a href="#dashboard/">Dashboard</a></li>
                <li><a href="#browse/">Browse&nbsp;Content</a></li>
                <li><a href="#about/">About</a></li>
            </ul>
            &nbsp;
            </div>
        </div>
        <div class="threecol_66">
            <div class="threecol_middle">
                <div class="centered">
                <h2>What is this?</h2>
                <p>This&nbsp;is&nbsp;a&nbsp;<a href="http://github.com/dvdotsenko/ges">G.E.S.</a>-based<br />micro-server&nbsp;hosting&nbsp;Git<br />repositories&nbsp;maintained<br />by&nbsp;an&nbsp;example&nbsp;team.</p>
                </div>
            </div>
            <div class="threecol_right">
                <div class="centered">
                <h2>What's next?</h2>
                <ul>
                    <li><a href="#browse/">View available repositories</a></li>
                    <li><a href="#about/">Learn about the server</a></li>
                </ul>
                &nbsp;
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="footer">
        <div class="right meta">Copyright 2010 <a href="https://github.com/dvdotsenko/ges">Git Enablement Server project</a></div>
    </div>
</div>
<!--end of real body-->

<!-- RENDERING TEMPLATES  -->
<script id="about_tmpl" type="text/x-jquery-tmpl">
    <h2>About this server</h2>
    <p>This is the "stock" G.E.S. v1.0 server instance.</p>
    <p>Visit <a href="http://github.com/dvdotsenko/ges">Git Enablement Server</a> development home page for usage and installation instructions.</p>
</script>
<script id="dashboard_tmpl" type="text/x-jquery-tmpl">
    <h2>Welcome to <strong>Git Enablement Server</strong> Example</h2>
    <p>This is a <a href="http://github.com/dvdotsenko/ges">Git Enablement Server</a> example server instance. It is designed to showcase the functionality of the server. In some ways, the server is self-hosting its own code base.</p>
    <p><a href="#browse/" class="links">View available Git repositories</a> </p>
    <p><a href="#about/" class="links">Read more about this server and dev team</a></p>
</script>
<!--Browse URIs template - Top-most parent -->
<script id="browse_tmpl" type="text/x-jquery-tmpl">
    <div id="browse_base">Processing...</div>
</script>
<!-- Browse Base template - Child of Browse URIs template -->
<!-- It displays path crumbs - element common to all content views.-->
<script id="browse_base_tmpl" type="text/x-jquery-tmpl">
    <h2>{{= $item.title }}</h2>
<div class="path_crumbs wrap_everything">{{if (meta.path_first_section)}}<span class="path_crumb home_decor"><a href="#browse{{= meta.path_first_section[1]}}">{{= meta.path_first_section[0]}}</a></span>/{{/if}}{{each(i,section) meta.path_sections}}<span class="path_crumb folder_decor"><a href="#browse{{= section[1]}}">{{= section[0]}}</a></span>/{{/each}}<span class="last_path_crumb">{{= meta.path_last_section}}</span></div>
    <div id="browse_content">
    {{if (!data.length)}}
        <p class="meta">Folder is empty.</p>
    {{/if}}
    </div>
    {{if meta.record_time}}
        <p class="meta">Cached data. Updated {{= Math.round(((new Date()).getTime() - meta.record_time)/600)/100 }} minutes ago. Click browser's reload button (or CTRL+R) to refresh the cache.</p>
    {{/if}}
</script>

<script id="browse_content_folderlist_tmpl" type="text/x-jquery-tmpl">
    <div id="browse_content_folderlist"></div>
    {{if (meta.repo_path)}}
    <div class="spacer"></div>
    <div class="downloadable">
        <a href="{{= meta.path}}" target="_blank">Download folder as zip file</a>
    </div>
    <div class="spacer"></div>
    {{/if}}
</script>

<script id="browse_content_repo_tmpl" type="text/x-jquery-tmpl">
    {{if (data.endpoints.length > 0)}}
    <table class="repo_endpoints_table">
        <thead>
            <tr>
                <th style="text-align:right">Branches</th>
                <th style="text-align:center">Age</th>
                <th style="text-align:left">Tags</th>
                <th style="text-align:left">Commit Info</th>
            </tr>
        </thead>
        <tbody>
            {{each(i,endpoint) data.endpoints}}
            <tr data-time_stamp="{{= $item.time_str_to_int_fn(endpoint.time)}}"">
                <td style="text-align:right">
                    {{each(j,branchname) endpoint.branches}}
                    {{if (j == 0)}}
                        <span><a href="#browse{{= meta.path + '/' + branchname}}">{{= branchname}}</a></span>
                    {{else}}
                        <span>, <a href="#browse{{= meta.path + '/' + branchname}}">{{= branchname}}</a></span>
                    {{/if}}
                    {{/each}}
                </td>
                <td style="text-align:center">
                    {{= $item.relative_time_format_fn(endpoint.time) }}
                </td>
                <td style="text-align:left">
                    {{each(j,tagname) endpoint.tags}}
                    {{if (j == 0)}}
                        <span><a href="#browse{{= meta.path + '/' + tagname}}">{{= tagname}}</a></span>
                    {{else}}
                        <span>, <a href="#browse{{= meta.path + '/' + tagname}}">{{= tagname}}</a></span>
                    {{/if}}
                    {{/each}}
                </td>
                <td class="has_hoverable">
                    <a href="#browse{{= meta.path + '/' + endpoint.id}}">{{= endpoint.id.slice(0,8)}}..<span>{{= endpoint.time}}<br>{{= endpoint.summary}}</span></a>
                    &nbsp;by<a href="mailto:{{= endpoint.author_email}}?subject={{= escape('Re: ' + meta.path + '/' + endpoint.id) }}"> {{= endpoint.author}}</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="meta">This repository is completely empty.</p>
    {{/if}}
    <div class="properties_table">
        <div class="table_row">
            <span class="table_cell property_label">Description</span>
            <span class="table_cell property_value">
                <pre class="bodylike_text">{{= data.description}}</pre>
            </span>
        </div>
        <div class="table_row">
            <span class="table_cell property_label">Clone, push URI</span>
            <span class="table_cell property_value">{{= $item.get_full_application_uri() + meta.path }}</span>
        </div>
    </div>
</script>

<script id="browse_content_repoitem_tmpl" type="text/x-jquery-tmpl">
    <div id="browse_content_file_options">
        <div class="meta">(size: {{= data.size}} bytes, mime type: {{= data.type.mimetype}})</div>
    </div>
    {{if (data.type.supermimetype == 'text')}}
        {{if (data.data == "" && data.size > 0)}}
            <div class="meta">File is too large to view in the browser window. Please, download the raw file for viewing.</div>
        {{else}}
            <pre class="brush: {{= meta.syntax_template}}" id="browse_content_file_contents">{{= data.data}}</pre>
        {{/if}}
    {{else (data.type.supermimetype == 'image')}}
        <div class="image_frame"><img alt="{{= data.name}}" src="{{= meta.path}}" /></div>
    {{else}}
        <div class="meta">Binary file. No preview available.</div>
    {{/if}}
    <div class="spacer"></div>
    <div class="downloadable"><a href="{{= meta.path}}" target="_blank">Download raw file</a></div>
    <div class="spacer"></div>
</script>

<script id="browse_content_remotelink_tmpl" type="text/x-jquery-tmpl">
    <div class="properties_table">
        <div class="table_row">
            <span class="table_cell property_label">Description</span>
            <span class="table_cell property_value">This is a {{= data.type.system}} {{= data.type.class}} link pointing to a remote {{= data.type.system}} repo.</span>
        </div>
        <div class="table_row">
            <span class="table_cell property_label">Remote resource URI</span>
            <span class="table_cell property_value wrap_everything">{{= data.url}}</span>
        </div>
        <div class="table_row">
            <span class="table_cell property_label">Remote resource's commit ID</span>
            <span class="table_cell property_value">{{= data.id}}</span>
        </div>
        <div class="table_row">
            <span class="table_cell property_label">Link to commit's home page</span>
            <span id="remotelink_homepage_uri" class="table_cell property_value wrap_everything">Guessing...</span>
        </div>
    </div>
</script>

</body>
</html>
