body {
    font-family:Helvetica, Verdana, Arial, sans-serif;
    background-color:white;
    padding: 0;
    margin: 0;
}
#container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#header {
    padding-top: 2em;
    width:100%;
    border-bottom: 1px solid darkgrey;
}
#header *{
    margin: 0;
    padding: 0;
}
#footer {
    margin-top:0.5em;
    padding-top: 1em;
    width:100%;
    border-top: 1px solid darkgrey;
}
#menu {
    width:100%;
    border-top: 1px solid darkgrey;
    padding: 0;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    padding-top:0.5em;
    padding-bottom: 0.5em;

}
#main {
    width:auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
h1 {
    font-size:2em;
    font-weight:bold;
    padding: 0;
    margin: 0;
}
h2 {
    color:darkolivegreen;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
h3 {
    color:gray;
    font-size: 1em;
    font-style: italic;
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
a {
    color:olive;
    text-decoration:none;
}
a:hover {
    color:olive;
    text-decoration:underline;
}
.centered {
    margin-right: auto;
    margin-left: auto;
    width: auto;
/*    min-width: 70%;*/
/*    border: 1px solid red;*/
}
.left {
    float:left;
    margin-top:0.5em;
}
.right {
    float:right;
    margin-top:0.5em;
}
.meta {
    color:gray;
    font-size:80%;
    font-style: italic;
    padding-bottom: 0.5em;
}
.spacer {
    clear:both;
    width:100%;
}
#menu ul {
    list-style:none;
    list-style-type: square;
    margin: 0;
    padding: 0;
}
#menu li {
    line-height: 1.5em;
    padding: 0;
    margin-left: 2em;
}
.threecol_66 {
/*    max-width: 66%;*/
    min-width: 65%;
    float:right;
    margin: 0;
    padding: 0;
/*    border: 1px solid blue;*/
}
.threecol_left {
/*    max-width: 50%;*/
    min-width: 33%;
    float:left;
    margin: 0;
    padding: 0;
/*    border: 1px solid blue;*/
}
.threecol_middle {
/*    max-width: 50%;*/
    min-width: 49%;
    float:left;
    margin: 0;
    padding: 0;
/*    border: 1px solid blue;*/
}
.threecol_right {
/*    max-width: 33%;*/
    min-width: 49%;
    float:right;
    margin: 0;
    padding: 0;
/*    border: 1px solid blue;*/
}
